- name: Deploy Doctor App (Docker Compose)
  hosts: role_app
  become: true
  gather_facts: false

  pre_tasks:
    - name: Wait for instances to be reachable via SSM
      amazon.aws.aws_ssm_wait:
        timeout: 600

  roles:
    - nginx
    - docker
    - app
