

services:
  mongodb:
    image: mongo:6
    container_name: mongodb
    volumes:
      - mongo_data:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s

  backend:
    container_name: backend
    build:
      context: ../app/Server
      dockerfile: ../../docker/Server/Dockerfile
    env_file:
      - ../app/Server/.env
    ports:
      - "5000:5000"
    depends_on:
      mongodb:
        condition: service_healthy
    restart: always

  frontend:
    container_name: frontend
    build:
      context: ../app/Client
      dockerfile: ../../docker/Client/Dockerfile
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always

volumes:
  mongo_data:
